.container {
  display: flex !important;
  justify-content: center;
  align-content: center;
}


.ant-carousel .slick-dots-bottom {
  bottom: 'none';
}


.ant-carousel .slick-dots {
  position: absolute;
  right: 0;
  /* bottom: 0; */
  left: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
  margin-top: 24px;
}