.errorLogo {
  width: calc(calc(calc(100vw - 72px) / 6 * 4) + 24px);
  height: calc(calc(calc(100vw - 72px) / 6 * 4) + 24px);
}

.commentContainer {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
}
