.temp {
    background-image: url("https://onemg.gumlet.io/assets/90a3fef4-7cea-11ec-9e79-02544858aa60.png?format=auto");
    background-repeat: no-repeat;
    width: calc(100% - 72px);
    border-bottom: "1px solid rgba(255, 255, 255, 0.45)"
}
